[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m coverage run -m unittest discover tests '*_test.py' -v"
coverage = "python -m coverage report"

[packages]

[dev-packages]
coverage = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
